* {
  box-sizing: border-box;
}

section {
  margin-bottom: 100px;
}

.box {
  background-color: red;
  color: white;
  font-size: 42px;

  width: 100%;
  height: 200px;
  /* min-width: 200px; */
  /* max-width: 1000px; */

  /* margin: 0 0 10px 0; */
  /* margin: 0 0 10px; */
  /* margin: 0 10px; */
  margin-bottom: 10px;

  padding: 30px;

  /* border: 5px solid black; */
  border-width: 5px;
  border-style: dotted;
  border-color: black;
  border-bottom-width: 10px;
}

#absolute div:nth-child(1) {
  width: 1000px;
}
#absolute div:nth-child(2) {
  width: 500cm;
}
#absolute div:nth-child(3) {
  width: 100ch;
}

section#relative {
  width: 800px;
}
#relative div:nth-child(1) {
  width: 50%;
}
#relative div:nth-child(2) {
  box-sizing: border-box;
  width: 10em;
}
#relative div:nth-child(3) {
  width: 1rem;
}
#relative div:nth-child(4) {
  width: 100vw;
}
#relative div:nth-child(5) {
  width: 100vw;
  height: 100vh;
}
